<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.travel.TravelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.screens.trip.view.TripDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_place_detail"
            android:theme="@style/Theme.Travel">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presentation.screens.navigation.view.NavigationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Travel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>